/* course.css */
.star-rating {
    unicode-bidi: bidi-override;
    color: #FFD700; /* Set the color for filled stars */
    font-size: 20px;
}

.star-rating span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.star-filled {
    position: absolute;
    left: 0;
}

.feedback {
    width: 48%;
    border: 2px solid #7b6ada;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
}
